<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="../../ToDo CollApp Favicon.png">
    <title>ToDo CollApp</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body id="app-root">
    <!-- DOM will be rendered here dynamically by UI Manager -->

        <header class="app-header">
            <span class="app-logo" id="nav-home">T</span> <!-- ${APP_CONST.APP_LOGO} -->
            <button class="menu-toggle" id="menu-btn">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </header>
        
        <!-- Dynamic Main Content -->
        <main id="app-main">

            <!-- Search & Filter -->
            <div class="search-filter-container">
                <input type="text" id="search-input" placeholder="Search & Filter">
                <button class="filter-btn">ᯤ</button> 
            </div>
            
            <!-- Display Path-->
             <div id="path-container">
                 <!-- ${pathStr} -->
                <span class="path-node root-node" data-type="root">/</span>
                <span class="path-node project-node">TÜV 08/2026</span>
                &nbsp;/&nbsp;
                <span class="path-node todo-node">THW</span>
                &nbsp;/&nbsp;
                <span class="path-node todo-node">Auflieger</span>
                &nbsp;/&nbsp;
                <span class="path-node todo-node">PS-WS 295</span>
                &nbsp;/&nbsp;
             </div>

            <!-- Display ToDo-List -->
            <ul class="todo-list" id="todo-list-ul"></ul>

        </main>

        <footer class="app-footer">
            <p>--- The Footer comes here ---</p>
        </footer>
     
    <!-- <script type="module" src="./js/App.js"></script> -->
</body>
</html>