<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="../../ToDo CollApp Favicon.png">
    <title>ToDo CollApp</title>
    <link rel="stylesheet" href="../../css/style.css">
    
</head>
<body id="app-root">
    <!-- DOM will be rendered here dynamically by UI Manager -->

        <header class="app-header">
            <span class="app-logo" id="nav-home">T</span> <!-- ${APP_CONST.APP_LOGO} -->
            <button class="menu-toggle" id="menu-btn">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </header>
        
        <!-- Dynamic Main Content -->
        <main id="app-main">

            <!-- Search & Filter -->
            <div class="search-filter-container">
                <input type="search" id="search-input" placeholder="Search & Filter">
                <button class="filter-btn">ᯤ</button> 
            </div>
            
            <!-- Display Path-->
             <div id="path-container">
                 <!-- ${pathStr} -->
                <span class="path-node root-node" data-type="root">/</span>
                <span class="path-node project-node">TÜV 08/2026</span>
                &nbsp;/&nbsp;
                <span class="path-node todo-node">THW</span>
                &nbsp;/&nbsp;
                <span class="path-node todo-node">Auflieger</span>
                &nbsp;/&nbsp;
             </div>

            <!-- Hide ToDo-List -->
            <!-- DISPLAY FORM FOR NEW TODO INSTEAD: --> 
        
        
            <div class="todo-detail-container">
                <!-- Title + Prio -->
                <div class="todo-detail-title-row">
                    <input type="text" class="todo-title" placeholder="${todo.title}">
                    <span class="prio-label">!</span>
                </div>

                <!-- Notes / Description -->
                 <div class="notes-container">
                     <label for="todo-notes" class="todo-details-label">Notes:</label>
                     <textarea name="todo-notes" id="todo-notes" class="todo-notes" rows="3" autocorrect="off"></textarea>
                 </div>
                 
                 <!-- Creation Date & Due Date -->
                 <div class="two-col-details-container" id="dates-container">
                    <label for="due-date" id="calendar-icon" title="Edit Due Date">📅</label>
                    <div class="dates-container">
                        <div>
                            <span id="created-label" class="todo-details-label">Erstellt:</span>
                            <input type="date" id="created-date" value="2026-08-02" readonly>
                        </div>
                        <div>
                            <span id="due-label" class="todo-details-label">Fällig:</span>
                            <input type="date" id="due-date" value="2026-08-10">
                        </div>
                    </div> 
                </div>

                <!-- Checklist -->
                <div class="two-col-details-container" id="checklist-container">
                    <span><strong>&#9745</strong></span>
                    <span class="todo-details-label checklist-link">Checkliste erstellen / bearbeiten</span>
                </div>

                <!-- Categories -->
                <div class="two-col-details-container" id="categories-container">
                    <span><strong>#</strong></span>
                    <input type="text" id="categories-display" placeholder="Kategorie hinzufügen">
                </div>

                <!-- Assigned team member -->
                <div class="two-col-details-container" id="assignment-container">
                    <label for="select-team-member">👤</label>
                    <select id="select-team-member">
                        <option value="">Mitarbeiter zuweisen:</option>
                        <option value="new">Mitarbeiter erstellen</option>
                    </select>
                </div>

                <!-- Save & Abort buttons-->
                <div class="buttons-container">
                    <button id="save-btn">Speichern</button>
                    <button id="abort-btn">Abbrechen</button>
                </div>
                
            </div>
            

            <!-- Disable Add-Button here -->
            <!-- <button class="main-add-btn">+</button> -->

        </main>

        <footer class="app-footer">
            <p>--- The Footer comes here ---</p>
        </footer>

        <script defer>
            const toggleContextMenu = (e) => {
                const targetMenu =  e.target.closest(".todo-item").querySelector(".todo-context-menu");
                if (!targetMenu) return 1;
                const openCtxMenus = document.querySelectorAll(".context-menu-visible");
                
                // console.log(openCtxMenus);
                // console.log(targetMenu);
                
                // close open context menus (if any)
                openCtxMenus.forEach(m => {
                    if (m !== targetMenu){
                        m.classList.remove("context-menu-visible");
                        m.classList.add("context-menu-hidden");
                    }
                });
                
                if (targetMenu.classList.contains("context-menu-hidden")) {
                    targetMenu.classList.remove("context-menu-hidden");
                    targetMenu.classList.add("context-menu-visible");
                } else {
                    targetMenu.classList.remove("context-menu-visible");
                    targetMenu.classList.add("context-menu-hidden");
                }
                
            }

            // activate event listeners for all todos to toggle their context menu
            const todos = document.querySelectorAll(".todo-item");
            todos.forEach(t => t.addEventListener("click", toggleContextMenu));

        </script>
     
    <!-- <script type="module" src="./js/App.js"></script> -->
</body>
</html>